.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.activity{
  padding-top: 50px;
  color: brown;
}

.buttact{
  padding: 5px;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  margin-top: 70px;
}
.grid-item {
  padding: 20px;
}

.aligns{
  height: 400px;
  width: 500px;
}

.margins{
  margin-top: 70px;
}

.butt{
  margin-top: 20px;
}

.b1{
  margin-right: 20px;
  padding: 5px;
  border-radius: 20px;
}

.b2{
  padding: 5px;
  border-radius: 20px;
}

.nav-link{
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  margin-top: 75px;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.form{
  padding: 50px;
}

.label1{
  margin-right: 250px;
}

.label2{
  margin-right: 290px;
  margin-top: 30px;
}

.label3{
  margin-right: 370px;
  margin-top: 30px;
}

.label4{
  margin-right: 220px;
  margin-top: 30px;
}

.addimg{
  margin-top: 80px;
}

.btn1{
  margin-top: 60px;
}

.btn2{
  margin-top: 70px;
  margin-right: 30px;
  background-color: bisque;
}

.btn3{
  background-color: bisque;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.users{
  margin-left: 850px;
  color: brown;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

#col1{
  margin-left: 50px;
}

th, td {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 65px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.adds{
  margin-top: 30px;
}

.table1{
  margin-left: 270px;
}

