.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.activity{
  padding-top: 50px;
  color: brown;
}

.headfont{
  color: rgb(149, 86, 81) !important;
}

.buttact{
  padding: 5px;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  margin-top: 70px;
}
.grid-item {
  padding: 20px;
}

.aligns{
  height: 400px;
  width: 500px;
}

.margins{
  margin-top: 70px;
}

.butt{
  margin-top: 20px;
}

.b1{
  margin-right: 20px;
  padding: 5px;
  border-radius: 20px;
}

.b2{
  padding: 5px;
  border-radius: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  margin-top: 75px;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.form{
  padding: 50px;
}

.label1{
  margin-right: 250px;
}

.label2{
  margin-right: 290px;
  margin-top: 30px;
}

.label3{
  margin-right: 370px;
  margin-top: 30px;
}

.label4{
  margin-right: 220px;
  margin-top: 30px;
}

.addimg{
  margin-top: 80px;
  width: 400px;
  height: 400px;
}

.btn1{
  margin-top: 60px;
}

.btn2{
  margin-top: 40px;
  margin-right: 30px;
  background:rgb(219, 187, 184) !important;
  border-radius: 20px;
}

.btn3{
  background-color: bisque;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.users{
  margin-left: 850px;
  color: brown;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

#col1{
  margin-left: 50px;
}

th, td {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 65px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.adds{
  margin-top: 30px;
}

.table1{
  margin-left: 85px;
}

.tablehead{
  background:white !important;
}

.tablehead1{
  background: #c18a75;
}

.th-lg{
  width: 100rem !important;
}



.btn{
  background: #daac99 !important;
  height: 30px;
}

.btn4{
  margin-top: 20px;
}

.table4{
  margin-top: -20px;
}

.table3{
  margin-top: 50px;
}

.dashdiv{
  margin-top: 50px;
}

.dashbtn{
  width: 230px;
  height: 90px;
  border-radius: 30px;
  font-size:x-large;
  background:white !important;
  
}

.dashbtn1{
  margin-right: 1200px;
  margin-left: 50px;
}

.recent{
  margin-top: 70px;
}

.customer{
  color: brown;
}

.table2{
  margin-top: 50px;
}

.btn6{
  margin-left: 20px;
  border-radius: 25px !important;
}

.btn5{
  border-radius: 25px !important;
}

.bookicon{
  margin-left: 10px;
}

.headingpayment{
  margin-top: 40px;
}

table, th, td {
  border:1px solid black !important;
}

.table5{
  margin-top: 30px;
}
.paymenttr{
  background:rgb(219, 187, 184) !important;
  color: rgba(83, 29, 29, 0.948);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.input1{
  background-color: #f1f1f1;
}

.btn7{
  background:rgb(219, 187, 184) !important;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.whychoose{
  margin-top: 50px;
  color: #2c3e50;
  font-family: 'League Spartan', sans-serif !important;
  font-size: 40px !important;
}

.flex-item-leftside {
 margin-left: 350px;
 margin-right: 1000px;
 font-size: large !important;
}

.flex-item-rightside {
  margin-left: 900px;
  margin-right: 310px;
  margin-top: -470px !important;
  font-size: large !important;
  
}

.promo{
  margin-left: 15px;
}

.row{
  margin-top: 50px !important;
  margin-left: 250px !important;
  margin-right: 250px !important;
}

.imagegallery{
  width: 400px !important;
  height: 300px !important;
  border-radius: 30px !important;
}

.searchbar{
  margin-top: 15px;
}


.font2{
  margin-left: 1100px;
  color: black !important;
}

.small{
  /* background: #ac715b; */
  margin-top: -25px;
  border-radius: 50px;
  color: black;
  font-size: large !important;
}

.booksbtn{
  margin-top: -10px !important;
  border-radius: 15px;
  background: #ceac9f;                                 ;
}

.booksbtn1{
  margin-left: 30px;
}



.pay{
 margin-left: 50px;
}

.des{
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
  text-align: justify;
  font-size: large;
  color: black;
}

.acthead{
  margin-top: 30px;
  color: #7a4231;
}

.actimg{
  margin-top: 20px;
}

.subtext{
  margin-top: 40px;
  text-align: left;
  font-size: large;
  color: black;
  margin-left: 450px;
}

.time1{
  margin-left: 150px;
}

.time2{
  margin-left: 200px;
}

.time3{
  margin-left: 290px;
}

.time4{
  margin-left: 360px;
}

.time5{
  margin-left: 290px;
}

.time6{
  margin-left: 350px;
}

.time7{
  margin-left: 320px;
}

.time8{
  margin-left: 370px;
}

.time9{
  margin-left: 380px;
}

.time10{
  margin-left: 370px;
}

.payment1{
  margin-left: 300px;
}

.payment2{
  margin-left: 285px;
}

.payment3{
  margin-left: 550px;
}

.payment4{
  margin-left: 280px;
}

.payment5{
  margin-left: 270px;
}

.payment6{
  margin-left: 275px;
}

.payment7{
  margin-left: 250px;
}

.payment8{
  margin-left: 250px;
}

.payment9{
  margin-left: 270px;
}

.payment10{
  margin-left: 270px;
}

.payment11{
  margin-left: 270px;
}

.box1{
  margin-left: 100px;
}

.box2{
  margin-left: 95px;
}

.box3{
  margin-left: 105px;
}

.box5{
  margin-left: 95px;
}

.box6{
  margin-left: 100px;
}

.box7{
  margin-left: 100px;
}

.box8{
  margin-left: 97px;
}

.box9{
  margin-left: 95px;
}

.box10{
  margin-left: 95px;
}

.box11{
  margin-left: 95px;
}

.box12{
  margin-left: 93px;
}

.actbtn{
  margin-top: 50px;
}

.actbtn1{
  margin-right: 100px;
  background: #dca998;
}

.actbtn2{
  margin-left: 1000px;
  background: #dca998;
}

.actbtn3{
  margin-left: 50px;
  background: #dca998;
}

.loginmodel{
  margin-top: -100px !important;
}

.loginbtn{
  background: #ceac9f !important;
}

.loginimg{
  height: 345px !important;
  width: 350px !important;
}

.signupmodel{
  margin-top: -100px;
}

.signupimg{
  height: 420px !important;
  width: 400px !important;
}

.instagram{
  margin-left: -5px;
}

.facebook{
  margin-left: 10px;
}

.whatsapp{
  margin-left: 10px;
}

.gmail{
  margin-left: 10px;
}

/* .flexrighttext{
  margin-top: -100px !important;
} */

.copyright{
  font-size: 12px !important;
}

.copy{
  text-align: center !important;
}

/* body { */
  /* background: #ECE9E6 !important;  fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6) !important;  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #FFFFFF, #ECE9E6) !important; W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* } */   

body{
  background: #d8dbdb !important;
}

.activity-image {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.activity-image {
  margin-left: 280px !important;
}


